<!DOCTYPE html>
<html th:replace="/template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style></style>

<section>
    <div id="booking" class="section container">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Make your reservation</h1>
                        </div>
                        <form th:action method="post" th:object="${save}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input th:field="*{bookDate}" class="form-control" type="date" required />
                                        <span class="form-label">Check In</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select th:field="*{personCount}" class="form-select" required>
                                            <option value="0">---------</option>
                                            <option th:value="1" th:text="1">1</option>
                                            <option th:value="2" th:text="2">2</option>
                                            <option th:value="3" th:text="3">3</option>
                                            <option th:value="4" th:text="4">4</option>
                                            <option th:value="5" th:text="5">5</option>
                                            <option th:value="6" th:text="6">6</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input th:field="*{name}" class="form-control" type="text" placeholder="Enter your Name" required/>
                                        <span class="form-label">Name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input th:field="*{phone}" class="form-control" type="tel" placeholder="Enter your Phone" required/>
                                        <span class="form-label">Phone</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn" type="submit">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript"></script>
</html>