<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="admin-header" class="container mb-5">
    <div class="row mt-3">
        <div class="col-lg-4 col-sm-12 text-center">
            <button class="btn text-secondary" type="button" onclick="location.href='#'">ABOUT JEJU</button>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <button class="btn text-secondary" type="button" onclick="location.href='#'">CATEGORY</button>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <button class="btn text-secondary" type="button" th:onclick="|location.href='@{/admin/management}'|"><i class="bi bi-gear"></i> MANAGEMENT</button>
        </div>
    </div>
</div>
</html>