<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common-header">
    <div class="container my-2">
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center">
                <button class="btn text-secondary" type="button" th:onclick="|location.href='@{/about}'|">ABOUT JEJU</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <button class="btn text-secondary" type="button" th:onclick="|location.href='@{/map}'|">MAP</button>
            </div>
            <div class="col-lg-3 col-sm-6 text-center dropdown">
                <button class="btn text-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">CATEGORY</button>
                <ul class="dropdown-menu bg-light shadow">
                    <a class="dropdown-item" th:href="@{/posts/categorys/TOUR}">
                        <span>🌊&nbsp;&nbsp;여행</span>
                    </a>
                    <a class="dropdown-item" th:href="@{/posts/categorys/RESTURENT}">
                        <span>🍊&nbsp;&nbsp;음식</span>
                    </a>
                    <a class="dropdown-item" th:href="@{/posts/categorys/HOTEL}">
                        <span>🏠&nbsp;&nbsp;숙박</span>
                    </a>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <button class="btn text-secondary" type="button" th:onclick="|location.href='@{/contact}'|">CONTACT US</button>
            </div>
        </div>

    </div>
</div>
</html>
