<!DOCTYPE html>
<html th:replace="template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style>
    label {
        color: #333;
    }

    .btn-send {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        width: 80%;
        margin-left: 3px;
    }

    .help-block.with-errors {
        color: #ff5050;
        margin-top: 5px;
    }

    .card {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<section>
    <div class="container" th:object="${contactDto}">
        <div class="text-center mt-5">
            <h1>문의하기</h1>
        </div>
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form th:action class="needs-validation" role="form" method="post">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>제목 *</label>
                                                <input
                                                        th:field="*{title}"
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Please enter title*"
                                                        required="required"
                                                        th:errorclass="is-invalid"
                                                />
                                                <i th:errors="*{title}" class="bi bi-exclamation-circle invalid-feedback">오류 메시지</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"><br/></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>내용 *</label>

                                                <textarea
                                                        th:field="*{content}"
                                                        class="form-control"
                                                        placeholder="Write your message here."
                                                        rows="5"
                                                        required="required"
                                                        th:errorclass="is-invalid"
                                                ></textarea>
                                                <i th:errors="*{content}" class="bi bi-exclamation-circle invalid-feedback">오류 메시지</i>
                                                <br/>
                                            </div>
                                        </div>

                                        <button class="btn btn-secondary btn-lg" type="submit">
                                            Send Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.8 -->
            </div>
            <!-- /.row-->
        </div>
    </div>

</section>

<script th:inline="javascript"></script>
</html>