<!DOCTYPE html>
<html th:replace="template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style>
    #about {
        background-image: url(../../static/image/category/About_jeju_3.jpg);
    }

    .about_background {
        background-image: url(../../static/image/category/About_jeju_7.jpg);
    }
</style>

<section>
    <main class="container">
        <div id="about" class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Trip to Jeju Island</h1>
                <p class="lead my-3">
                    Our philosophy is built on our motto ‘Grow, Feed, Educate’. Grow
                    your food, your people and your community. Feed and nourish your
                    physical self, your soul and the land on which you live. Educate
                    yourself, your family and your community so that we can all actively
                    participate as sustainable food growers, producers and consumers.
                </p>
                <p class="lead mb-0"></p>
            </div>
        </div>
        <br/><br/>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static about_background">
                        <strong class="d-inline-block mb-2 text-primary">Guests</strong>
                        <h3 class="mb-0">Become a Guests!</h3>
                        <div class="mb-1 text-muted"><br/></div>
                        <p class="card-text mb-auto">
                            Our intention was to build a farm for ‘the people’. We invite
                            you to wander around, take in your surroundings and reflect on
                            the concept of wellness – wellness of the land, the body, the
                            mind and the community....!
                        </p>
                        <p></p>
                        <button class="btn btn-secondary btn-lg" type="button">
                            Button
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static about_background">
                        <strong class="d-inline-block mb-2 text-primary">Host</strong>
                        <h3 class="mb-0">Become a Host!</h3>
                        <div class="mb-1 text-muted"><br/></div>
                        <p class="mb-auto">
                            With environmental sustainability and nurturing the land top of
                            mind, we decided it was only right to extend this to cover
                            social and economic sustainability too. It is forever giving
                            back to the local community.
                        </p>
                        <p></p>
                        <button class="btn btn-secondary btn-lg" type="button">
                            Button
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>

<script th:inline="javascript"></script>
</html>