<!DOCTYPE html>
<html th:replace="template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style></style>

<section>
    <div class="container my-5">
        <main class="align-items-center rounded-3 border shadow-lg p-4 pe-lg-0 pt-lg-5" style="background-color: rgba(186, 218, 248, 0.102);">
            <div class="py-4 text-center">
                <h2 class="bi bi-person-bounding-box mx-auto mb-3 fs-1">MEMBER</h2>
                <p class="lead mt-3 mb-0 text-danger">본 사이트는 실제 운영되는 사이트 아닌 토이 프로젝트 웹 사이트 입니다.</p>
                <p class="lead mb-2 text-danger">회원가입시 개인정보 입력에 주의하세요. 임의의 정보로 가입이 가능합니다!😎</p>

            </div>
            <div class="row g-5 justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Member Info</h4>
                    <form class="needs-validation" th:action="@{/members}" method="post" th:object="${save}">
                        <div class="row g-3">
                            <div class="col-10">
                                <label th:for="loginId" class="form-label">ID *</label>
                                <input th:field="*{loginId}" type="text" class="form-control is-invalid" placeholder="ID* (4 ~ 20자)" required
                                       maxlength=20>
                                <div id="id-invalid" class="invalid-feedback">
                                    <i class="bi bi-exclamation-circle">ID 중복 확인을 해주세요</i>
                                </div>
                                <div class="valid-feedback">
                                    <i class="bi bi-check-circle">사용 가능한 ID에요!</i>
                                </div>
                                <i th:errors="*{loginId}" class="bi bi-exclamation-circle invalid-feedback">오류 메시지</i>
                            </div>
                            <div class="col-2 my-auto py-5">
                                <button type="button" class="btn btn-outline-primary" onclick="checkId()"><i
                                        class="bi bi-check-lg"></i></button>
                            </div>

                            <div class="col-10">
                                <label th:for="password" class="form-label">Password *</label>
                                <input th:field="*{password}" type="password" class="form-control is-invalid" placeholder="PASSWORD* (6 ~ 20자)"
                                       required maxlength=20>
                                <label for="check" class="form-label">Password Check*</label>
                                <input type="password" class="form-control is-invalid" id="check" placeholder="PASSWORD CHECK"
                                       aria-describedby="" required>
                                <div class="invalid-feedback">
                                    <i class="bi bi-exclamation-circle">비밀번호를 확인 해주세요.</i>
                                </div>
                                <div class="valid-feedback">
                                    <i class="bi bi-check-circle">비밀번호 확인!</i>
                                </div>
                                <i th:errors="*{password}" class="bi bi-exclamation-circle invalid-feedback">오류 메시지</i>
                            </div>

                            <hr class="my-4">
                            <div class="col-10">
                                <label th:for="name" class="form-label">Member Name *</label>
                                <input th:field="*{name}" type="text" class="form-control" th:errorclass="is-invalid" placeholder="MEMBER NAME* (2 ~ 10자)" required>
                                <i th:errors="*{name}" class="bi bi-exclamation-circle invalid-feedback">오류 메시지</i>
                            </div>

                            <div class="col-10">
                                <label th:for="phone" class="form-label">Phone *</label>
                                <input th:field="*{phone}" type="tel" class="form-control phoneNumber" th:errorclass="is-invalid" placeholder="PHONE NUMBER*"
                                       required maxlength=13>
                                <i th:errors="*{phone}" class="bi bi-exclamation-circle invalid-feedback">오류 메시지</i>
                            </div>

                            <div class="col-10">
                                <label th:for="email" class="form-label">Email</label>
                                <input th:field="*{email}" type="email" class="form-control" th:errorclass="is-invalid" placeholder="you@example.com">
                                <i th:errors="*{email}" class="bi bi-exclamation-circle invalid-feedback">오류 메시지</i>
                            </div>
                        </div>
                        <hr class="my-4">
                        <button id="submit" class="w-100 btn btn-primary btn-lg" type="submit" disabled="disabled">Sign-in</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    //password check validation
    $("#check, #password").on("change", () => {
        let password = $('#password').val();
        let passwordcheck = $('#check').val();
        if ((password != "" && passwordcheck != "") && password == passwordcheck) {
            $("#check, #password").removeClass('is-invalid')
            $("#check, #password").addClass('is-valid')
        }
        else {
            $("#check, #password").removeClass('is-valid')
            $("#check, #password").addClass('is-invalid')
        }
    });

    //phone number validation check
    $(document).on("keyup", ".phoneNumber", function () {
        $(this).val($(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/, "$1-$2-$3").replace("--", "-"));
        if ($(this).val() != "") {
            $(this).removeClass('is-invalid');
            $(this).addClass('is-valid');
        } else {
            $(this).removeClass('is-valid');
            $(this).addClass('is-invalid');
        }
    });

    //host name validation check
    const nameInput = document.getElementById('name');
    nameInput.addEventListener('keyup', (e) => {
        if (e.target.value != "") {
            nameInput.classList.remove('is-invalid');
            nameInput.classList.add('is-valid');
        } else {
            nameInput.classList.remove('is-valid');
            nameInput.classList.add('is-invalid');
        }
    });

    //id validation check 비동기
    function checkId() {
        const idInput = document.getElementById('loginId');
        fetch(`/members/id-check?v=${idInput.value}`)
            .then((response) => response.json())
            .then((data) => {
                if (!data) {
                    idInput.classList.remove('is-invalid')
                    idInput.classList.add('is-valid')
                } else {
                    idInput.classList.remove('is-valid')
                    idInput.classList.add('is-invalid')
                    const invalidId = document.getElementById('id-invalid');
                    invalidId.innerText='';
                    invalidId.innerHTML=`<i class="bi bi-exclamation-circle">이미 사용중인 ID에요!</i>`;
                }
            })
            .catch(e => console.log(e))
    }

    //submit validstion check
    const signForm = document.querySelector('.needs-validation');
    signForm.addEventListener('change', () => {
        const check = document.querySelectorAll('.is-invalid');
        const submitBtn = document.getElementById('submit');
        if (check.length == 0) {
            submitBtn.removeAttribute('disabled')
        } else {
            submitBtn.setAttribute('disabled', 'disabled')
        }
    });
</script>
</html>