<!DOCTYPE html>
<html th:replace="/template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style>
    .card {
        background-color: #c76bbb78;
        border-radius: 10px;
        border: none;
    }

    .inner-card {
        background: rgba(255,255,255,0.5);
        border-radius: 10px;
    }

    .btn:focus {
        color: #fff;
        background-color: #414a58;
        border-color: #ffffff;
        box-shadow: none;
    }
</style>

<section>
    <div class="container my-5">
        <div class="card p-3">
            <div class="p-5 text-center text-white" style="-webkit-text-stroke-color: black; -webkit-text-stroke-width:0.7px;">
                <i class="bi bi-pencil-square fs-1"></i>
                <h2>POSTING</h2>
                <h6 class="lead">게시물 설명</h6>
            </div>

            <div class="inner-card p-5 mx-5 mb-5 shadow-lg">
                <form th:object="${save}" th:action="@{/posts}" method="POST" enctype="multipart/form-data" class="px-5 needs-validation was-validated">
                    <!--제목-->
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <label>TITLE *</label>
                            <input th:field="*{title}" type="text" class="form-control" placeholder="Post Title" required>
                        </div>
                    </div>
                    <!--카테고리-->
                    <div class="col-12 mb-3">
                        <div class="form-group">
                            <label>CATEGORY *</label>
                            <select class="form-select" required th:field="*{category}">
                                <option value="">*SELECT CATEGORY*</option>
                                <option th:each="category : ${T(hello.jejulu.domain.util.Category).values()}" th:value="${category.name()}" th:text="${category.name()}">category</option>
                            </select>
                        </div>
                    </div>
                    <!--설명-->
                    <div class="col-12 mb-5">
                        <div class="form-group">
                            <label>DESCRIPTION *</label>
                            <input th:field="*{description}" type="text" class="form-control" placeholder="Short Description" required>
                        </div>
                    </div>
                    <!--썸네일-->
                    <div class="col-12 mt-5">
                        <div class="form-group">
                            <label>THUMBNAIL</label>
                            <input th:field="*{file}" class="form-control" type="file" accept="image/*" onchange="loadImage(this)">
                            <div id="img-show" class="text-center mt-5"></div>
                        </div>
                    </div>
                    <!--내용-->
                    <div class="col-12 my-5">
                        <div class="form-group">
                            <label>CONTENT *</label>
                            <textarea th:field="*{content}" class="form-control h-25" rows="20" placeholder="content.." required></textarea>
                        </div>
                    </div>
                    <div class="px-2 mt-5 text-center">
                        <button class="btn btn-primary btn-lg" type="submit">
                            POSTING
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    function loadImage(input){
        const file = input.files[0];
        const maxSize = 5 * 1024 * 1024;
        const fileSize = input.files[0].size;

        if(maxSize < fileSize){
            alert("최대 이미지는 5MB에요!");
            input.value=null;
            return;
        }

        const img = document.createElement('img');
        img.setAttribute('class','img');
        img.src = URL.createObjectURL(file);
        img.style.width = "65%";
        img.style.height = "50%";
        img.style.objectFit = "cover";
        img.style.borderRadius = "30px";

        const container = document.getElementById('img-show');
        container.appendChild(img);
    }
</script>
</html>