<!DOCTYPE html>
<html th:replace="/template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style>
    .card {
        background-image: url("https://images.unsplash.com/photo-1606759163253-094133091882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80");
        background-size: cover;
        border-radius: 10px;
        border: none;
    }

    .inner-card {
        background: rgba(255,255,255,0.5);
        border-radius: 10px;
    }

    .btn:focus {
        color: #fff;
        background-color: #414a58;
        border-color: #ffffff;
        box-shadow: none;
    }
</style>

<section>
    <div class="container my-5">
        <div class="card">
            <div class="p-3 text-center text-white">
                <i class="bi bi-pencil-square fs-1"> POSTING</i>
            </div>

            <div class="inner-card p-3 mx-5 mb-5 shadow-lg row">
                <form th:object="${save}" th:action="@{/posts}" method="POST" enctype="multipart/form-data" class="px-5 needs-validation was-validated" id="submit-form">
                    <!--제목-->
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <label>TITLE *</label>
                            <input th:field="*{title}" type="text" class="form-control" placeholder="Post Title" required>
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <!--설명-->
                        <div class="col-8">
                            <div class="form-group">
                                <label>DESCRIPTION *</label>
                                <input th:field="*{description}" type="text" class="form-control" placeholder="Short Description" required>
                            </div>
                        </div>
                        <!--카테고리-->
                        <div class="col-3">
                            <div class="form-group">
                                <label>CATEGORY *</label>
                                <select class="form-select" required th:field="*{category}">
                                    <option value="">*SELECT CATEGORY*</option>
                                    <option th:each="category : ${T(hello.jejulu.domain.util.Category).values()}" th:value="${category.name()}" th:text="${category.name()}">category</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--썸네일-->
                    <div class="col-8 mt-3">
                        <div class="form-group">
                            <label>THUMBNAIL</label>
                            <input th:field="*{file}" class="form-control" type="file" accept="image/*" onchange="loadImage(this)">
                            <div id="img-show" class="mt-3"></div>
                        </div>
                    </div>
                    <!--내용-->
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <label>CONTENT *</label>
                            <textarea th:field="*{content}" class="form-control h-25 editor" rows="20" placeholder="content.." required></textarea>
                        </div>
                    </div>
                    <button id="submit-button" type="submit" style="display: none"></button>
                    <div class="px-2 mt-5 text-center">
                        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#post-check" onclick="imageCheck()">
                            POSTING
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--게시물 등록 확인 모달-->
    <div class="modal fade" id="post-check" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h4 class="modal-title" id="test"></h4>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <h2 class="text-success mb-0">
                                    게시물 등록
                                </h2>
                                <h5 class="my-4">게시물을 등록 할까요?</h5>
                                <p id="modal-result" class="text-secondary"></p>
                            </div>
                            <button class="btn btn-success col-4 mx-3" data-bs-dismiss="modal" aria-label="Close" onclick="submit()">
                                확인
                            </button>
                            <button class="btn btn-secondary col-4 mx-3" data-bs-dismiss="modal" aria-label="Close">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="//cdn.ckeditor.com/4.17.2/basic/ckeditor.js"></script>
<script th:inline="javascript">
    const image = "작성 한 내용으로 게시물을 등록해요.😄";
    const noimage = "선택 한 이미지가 없어요, 기본 이미지로 게시물을 등록해요.😢";

    window.addEventListener("load", () => {
        const editor = document.querySelector(".editor");
        const ckeditor_config = {
            resize_enaleb : false,
            enterMode : CKEDITOR.ENTER_BR,
            shiftEnterMode : CKEDITOR.ENTER_P,
            height : "500"
        };
        CKEDITOR.replace(editor,ckeditor_config);
    })

    function loadImage(input){
        const file = input.files[0];
        const maxSize = 1 * 1024 * 1024;
        const fileSize = input.files[0].size;
        const container = document.getElementById('img-show');
        const oldImg = document.querySelector(".img");

        if(maxSize < fileSize){
            alert("최대 이미지는 1MB에요!");
            input.value=null;
            return;
        }

        if(oldImg !== null){
            container.removeChild(oldImg);
        }

        const img = document.createElement('img');
        img.setAttribute('class','img');
        img.src = URL.createObjectURL(file);
        img.style.width = "65%";
        img.style.height = "50%";
        img.style.objectFit = "cover";
        img.style.borderRadius = "30px";

        container.appendChild(img);
    }

    function imageCheck(){
        const modalContent = document.getElementById("modal-result");
        const thumbnailInput = document.getElementById("file");
        modalContent.innerText = "";
        if(thumbnailInput.value === ""){
            modalContent.innerText = noimage;
            return;
        }
        modalContent.innerText = image;
    }

    function submit(){
        const submitBtn = document.getElementById('submit-button')
        submitBtn.click();
    }
</script>
</html>