<!DOCTYPE html>
<html th:replace="template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style></style>

<section>
    <div class="container my-5">
        <main class="align-items-center rounded-3 border shadow-lg p-4 pe-lg-0 pt-lg-5"
              style="background-color: rgba(186, 218, 248, 0.102);">
            <div class="py-4 text-center">
                <i class="bi bi-gear mx-auto mb-3 fs-1"></i>
                <h2>MEMBER INFO</h2>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="row g-5 justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <form action="#" method="GET" th:object="${detail}">
                        <div class="row g-3">
                            <div class="col-10">
                                <div class="d-flex">
                                    <h5 class="text-secondary">🏷 Name |</h5>&nbsp;&nbsp;&nbsp;
                                    <i th:text="*{name}" class="fw-bold fs-5">이름</i>
                                </div>
                                <label class="mt-3 mb-0 fw-light fst-italic text-secondary">자신이 사용하는 이름이에요.</label>
                                <hr class="mt-0">
                            </div>
                            <div class="col-10">
                                <div class="d-flex">
                                    <h5 class="text-secondary">📞 Phone |</h5>&nbsp;&nbsp;&nbsp;
                                    <i th:text="*{phone}" class="fw-bold fs-5">전화번호</i>
                                </div>
                                <label class="mt-3 mb-0 fw-light fst-italic text-secondary">자신의 전화번호에요.</label>
                                <hr class="mt-0">
                            </div>

                            <div class="col-10">
                                <div class="d-flex">
                                    <h5 class="text-secondary">📧 Email |</h5>&nbsp;&nbsp;&nbsp;
                                    <i th:text="*{email}" class="fw-bold fs-5">이메일</i>
                                </div>
                                <label class="mt-3 mb-0 fw-light fst-italic text-secondary">자신이 사용하는
                                    이메일이에요.</label>
                                <hr class="mt-0">
                            </div>

                            <div class="col-12">
                                <label class="fw-light text-secondary fst-italic">마지막 수정일 : </label>
                                <p class="text-primary" th:text="*{updateDate}">날짜</p>
                            </div>
                        </div>
                        <button class="btn btn-success btn-lg col-12 my-5" type="button"
                                th:onclick="|location.href='@{/members/{memberId}/edit(memberId=*{id})}'|">GO TO UPDATE</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</section>
<script th:inline="javascript"></script>
</html>