<!DOCTYPE html>
<html th:replace="template/layout/base ::layout(~{::link}, ~{::style}, ~{::section}, ~{::script})" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<style></style>

<section>
    <div class="container my-5">
        <main class="align-items-center rounded-3 border shadow-lg p-4 pe-lg-0 pt-lg-5"
              style="background-color: rgba(186, 218, 248, 0.102);">
            <div class="py-4 text-center">
                <i class="bi bi-gear mx-auto mb-3 fs-1"></i>
                <h2>HOST INFO</h2>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="row g-5 justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <form action="#" method="GET" th:object="${detail}">
                        <div class="row g-3">
                            <div class="col-10">
                                <div class="d-flex">
                                    <h5 class="text-secondary">🏷 Name |</h5>&nbsp;&nbsp;&nbsp;
                                    <i th:text="*{name}" class="fw-bold fs-5">이름</i>
                                </div>
                                <label class="mt-2 mb-0 fw-light fst-italic text-secondary">호스트가 사용하는 이름이에요.</label>
                                <hr class="mt-0 mb-5">
                            </div>

                            <div class="col-10">
                                <div class="d-flex">
                                    <h5 class="text-secondary">📍 Address |</h5>&nbsp;&nbsp;&nbsp;
                                    <i id="addr" th:text="*{addr}" class="fw-bold fs-5">주소</i>
                                </div>
                            </div>
                            <div id="map" style="width:300px;height:300px;border-radius: 50%;"></div>
                            <label class="mt-2 mb-0 fw-light fst-italic text-secondary">호스트가 사용하는 주소에요.</label>
                            <hr class="mt-0 mb-5 col-10">

                            <div class="col-10">
                                <div class="d-flex">
                                    <h5 class="text-secondary">📞 Phone |</h5>&nbsp;&nbsp;&nbsp;
                                    <i th:text="*{phone}" class="fw-bold fs-5">전화번호</i>
                                </div>
                                <label class="mt-2 mb-0 fw-light fst-italic text-secondary">호스트의 전화번호에요.</label>
                                <hr class="mt-0 mb-5">
                            </div>

                            <div class="col-10">
                                <div class="d-flex">
                                    <h5 class="text-secondary">📧 Email |</h5>&nbsp;&nbsp;&nbsp;
                                    <i th:text="*{email}" class="fw-bold fs-5">이메일</i>
                                </div>
                                <label class="mt-2 mb-0 fw-light fst-italic text-secondary">호스트가 사용하는
                                    이메일이에요.</label>
                                <hr class="mt-0 mb-5">
                            </div>

                            <div class="col-12">
                                <label class="fw-light text-secondary fst-italic">마지막 수정일 : </label>
                                <p class="text-primary" th:text="*{updateDate}">날짜</p>
                            </div>
                        </div>
                        <button class="btn btn-success btn-lg col-12 my-5" type="button"
                        th:onclick="|location.href='@{/hosts/{hostId}/edit(hostId=*{id})}'|">
                            GO UPDATE
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7101ebc2d492a3cb9353b4add07670be&libraries=services"></script>
<script th:inline="javascript">
    const addrInput = document.getElementById("addr")
    const mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(33.361417, 126.529417),
            level: 5
        }; // 지도를 표시할 div
    let map = new kakao.maps.Map(mapContainer, mapOption);
    //마커를 미리 생성
    let marker = new daum.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(33.361417, 126.529417)
    });
    const geocoder = new kakao.maps.services.Geocoder();
    geocoder.addressSearch(`${addrInput.innerText}`, (results, status) => {
        if (status === kakao.maps.services.Status.OK) {
            const result = results[0];
            let coords = new kakao.maps.LatLng(result.y, result.x);
            marker.setPosition(coords);
            map.setCenter(coords);
        }
    });
</script>
</html>